--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.1.0
torchvision==0.16.0
xformers==0.0.22.post7; sys_platform != 'darwin' and platform_machine != 'arm64'

diffusers==0.24.0
transformers==4.35.2
accelerate==0.25.0
huggingface-hub==0.20.3
streamlit==1.29.0
numpy==1.23.5
pillow==10.1.0
safetensors==0.4.2
