--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.0
torchvision==0.16.0
xformers==0.0.22.post7; sys_platform != 'darwin' and platform.machine() != 'arm64'

diffusers==0.19.3
transformers==4.28.1
accelerate==0.21.0
huggingface-hub==0.
